@import '../globals/vars';

.business-form {
  &__wrapper {
    padding: 65px 24px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__icon {
    margin-bottom: 48px;

    path {
      cursor: pointer;
      transition: all 0.3s;
      position: relative;

      &:hover {
        transform: scale(1.01) translateY(-10px);
        fill: #2892ef;
      }
    }
  }

  &__form {
    max-width: 100% !important;
    width: 100%;
  }
}

.business-form__wrapper .fill-form__tab {
  color: var(--color-black);
}

.business-form__wrapper .fill-form__tab.active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.business-form__wrapper .fill-form__btn {
  background-color: var(--color-black);
}

@media screen and (min-width: $desktop-min-offset) {
  .business-form {
    &__wrapper {
      padding: 120px 160px 0;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__icon {
      width: 570px !important;
      height: 348px !important;
    }

    &__form {
      max-width: 480px !important;
      width: 100%;
    }
  }
}

#tooltip-map-black {
  background-color: var(--color-white);
  border: 1px solid #024e90;
  border-radius: 10px 30px 30px 30px;
  padding: 5px 10px;
  position: absolute;
  z-index: 100;
  opacity: 0;
}
