@import '../globals/vars';

.benefits {
  &__wrapper {
    padding: 64px 24px;
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;

    h2 {
      color: var(--color-black);
      font-size: 32px;
      font-weight: 500;
      letter-spacing: -0.32px;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-gray);
      font-size: 16px;
      font-weight: 300;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;

    .icon {
      height: 81px;
      width: 81px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-gray-cloud);
      border-radius: 22px;
      margin-bottom: 24px;
    }

    h3 {
      color: var(--color-black);
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-gray);
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  &__line {
    height: 1px;
    width: 70%;
    background-color: var(--color-black);
  }
}

@media screen and (min-width: $desktop-min-offset) {
  .benefits {
    &__wrapper {
      padding: 118px 150px 120px;
    }

    &__title {
      margin-bottom: 32px;

      h2 {
        font-size: 48px;
        margin-bottom: 16px;
      }

      p {
        font-size: 24px;
      }
    }

    &__cards {
      flex-direction: row;
    }

    &__box {
      margin-bottom: 0 !important;
      flex-direction: row;
    }

    &__card {
      margin-bottom: 0;
      padding: 0 21px;

      .icon {
        height: 81px;
        width: 81px;
        margin-bottom: 24px;
      }
    }

    &__line {
      height: 100%;
      width: 1px;
    }
  }
}
