@import '../globals/vars';

.hero {
  &__wrapper {
    padding: 64px 24px;
    width: 100%;
    background-color: var(--color-gray-cloud);
    flex-direction: column;
    margin: 0;
  }

  &__left {
    text-align: left;
    order: 2;
    max-width: 100%;
    padding: 0;

    h2 {
      color: var(--color-black);
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-gray);
      font-size: 16px;
      font-weight: 400;
      line-height: 143%;
      margin-bottom: 16px;
    }
  }

  &__boxes {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__box {
    text-align: left;

    svg {
      margin-bottom: 16px;
    }

    h4 {
      color: #030314;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    p {
      color: #70798b;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
  }

  &__right {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 24px;

    img {
      height: 160px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 12px;
    }

    .image1 {
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: $desktop-min-offset) {
  .hero {
    &__wrapper {
      padding: 80px 160px;
      flex-direction: row;
      margin: 0 -5px;
    }

    &__left {
      h2 {
        font-size: 48px;
        margin-bottom: 16px;
      }

      p {
        font-size: 24px;
        margin-bottom: 36px;
      }
    }

    &__box {
      h4 {
        font-size: 16px;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
      }
    }

    &__right {
      order: 2;

      img {
        height: 260px;
        max-width: 540px;
        width: 100%;
      }

      .image1 {
        margin-bottom: 25px;
      }
    }
  }
}
