@import '../globals/vars';

.faq {
  &__wrapper {
    padding: 90px 24px 0;
    margin-bottom: 30px;
  }

  &__content {
    margin-bottom: 50px;
  }

  &__btn__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    padding: 16px 24px;
    border-radius: 90px;
    background: var(--color-blue);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:active {
      transform: scale(1.2);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;

    h2 {
      color: var(--color-black);
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.4px;
      margin-bottom: 4px;
    }

    p {
      color: var(--color-gray);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__collapse__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    p {
      color: var(--color-black);
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__collapse__bottom {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 150.57%;
  }
}

@media screen and (min-width: $desktop-min-offset) {
  .faq {
    &__wrapper {
      padding: 160px 160px 0;
    }

    &__title {
      h2 {
        font-size: 48px;
      }

      p {
        font-size: 24px;
      }
    }
  }
}
