@import '../globals/vars';

.blog {
  &__wrapper {
    padding: 50px 24px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;

    h2 {
      color: var(--color-black);
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.4px;
      margin-bottom: 4px;
    }

    p {
      color: var(--color-gray);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;

    &__bottom {
      border: 1px solid var(--color-gray-light);
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      padding: 20px;
      font-family: 'Poppins', sans-serif;
    }

    img {
      height: 230px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    h4 {
      color: var(--color-black);
      font-size: 16px;
      font-weight: 600;
    }

    span {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: var(--color-gray);
    }

    p {
      color: #353945;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__btn {
    min-width: 150px;
    padding: 16px 24px;
    border-radius: 90px;
    background: var(--color-blue);
    border: none;
    color: #fcfcfd;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}

@media screen and (min-width: $desktop-min-offset) {
  .blog {
    &__wrapper {
      padding: 50px 160px 120px;
    }

    &__content {
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      width: calc((100% - 90px) / 3);
    }

    &__title {
      h2 {
        font-size: 48px;
      }

      p {
        font-size: 24px;
      }
    }
  }
}
