@import '../globals/vars';

.home-form {
  $screen-height: calc((var(--vh, 1vh) * 100));

  &__wrapper {
    min-height: calc(#{$screen-height} - 107px - 70px - 16px);
    background-image: url('/truck.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: calc(70px + 16px);

    &:before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(5, 72, 171, 0.6);
      z-index: 2;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    padding: 40px 24px 0;
    min-height: calc(#{$screen-height} - 107px - 70px - 16px);
    width: 100%;

    h1 {
      color: var(--color-white-light);
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      line-height: 108.023%;
      letter-spacing: -0.96px;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-white-light);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__form {
    position: absolute;
    bottom: -80px;
    left: 24px;
    width: calc(100% - 48px);
  }

  &__form__content {
    background-color: var(--color-white);
    border-radius: 12px 12px 0 0;
    border: 1px solid var(--color-gray-light);
    padding: 24px 16px 16px;

    h4 {
      font-size: 24px;
      font-weight: 600;
      color: var(--color-black);
      text-align: left;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: var(--color-gray);
      text-align: left;
      margin-bottom: 16px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__tab {
    height: 38px;
    width: calc((100% - 12px) / 3);
    border-radius: 6px;
    border: 1px solid var(--color-gray-light);
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-blue);

    &.active {
      background-color: var(--color-blue);
      color: var(--color-white-light);
      box-shadow: 0 4px 6px 0 rgba(18, 62, 141, 0.1);
      border: none;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__group {
    height: 56px;
    width: 100%;
    position: relative;
    margin-bottom: 6px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    z-index: 2;
  }

  &__input {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid var(--color-gray-light);
    padding-left: 56px;
    border-radius: 12px;
    color: var(--color-gray);
    font-size: 16px;
    font-weight: 600;

    &::placeholder {
      color: var(--color-gray);
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__btn {
    height: 70px;
    width: 100%;
    border-radius: 0 0 12px 12px;
    background: var(--color-blue);
    border: none;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
}

@media screen and (min-width: $desktop-min-offset) {
  .home-form {
    &__content {
      padding: 124px 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__form {
      position: relative;
      bottom: unset;
      left: unset;
      max-width: 480px;
      width: 100%;
    }

    &__title {
      max-width: 500px;

      h1 {
        font-size: 64px;
        margin-bottom: 24px;
      }

      p {
        font-size: 24px;
      }
    }

    &__wrapper {
      background-image: url('/truck-2.webp');
      min-height: unset;
      background-position: top;
    }
  }
}

@media screen and (min-width: 1500px) {
  .home-form {
    &__content {
      padding: 200px 160px;
    }

    &__rating {
      margin-top: 32px;
      padding: 24px;
      background-color: var(--color-white);
      border-radius: 16px;
      max-width: 385px;
      width: 100%;

      &--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        &.trustpilot {
          width: 105px;
          height: 25px;
        }

        &.stars {
          display: flex;

          img {
            height: 32px;
            width: 32px;
            background-size: cover;
          }
        }
      }

      &--bottom {
        color: var(--color-black) !important;
        text-align: center !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        text-transform: uppercase !important;
      }
    }
  }
}
