@import '../globals/vars';

.works {
  $title-height: calc(var(--title-height));
  $container-height: calc(var(--container-height));

  &__wrapper {
    min-height: 850px;
    background-image: url('/truck-8.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: calc(
      #{$container-height} + #{$title-height} + 70px + 32px - 850px
    );

    &:before {
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(5, 72, 171, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }

  &__container {
    position: relative;
    z-index: 6;
    height: 100%;
    width: 100%;
    min-height: 850px;
    padding: 70px 43px 0;
  }

  &__title {
    color: var(--color-white-light);
    text-align: center;

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__body {
    position: absolute;
    top: calc(#{$title-height} + 70px + 32px);
    left: 50%;
    transform: translateX(-50%);
  }

  &__map {
    width: 100% !important;
    height: 190px !important;
    margin-bottom: 50px;

    path {
      cursor: pointer;
      transition: all 0.3s;
      position: relative;

      &:hover {
        transform: scale(1.01) translateY(-10px);
        fill: rgba(225, 225, 225, 0.95);
      }
    }
  }

  &__rating {
    margin-bottom: 30px;
  }

  &__form {
    form {
      max-width: 100% !important;
    }
  }
}

@media screen and (min-width: $desktop-min-offset) {
  .works {
    &__wrapper {
      padding: 60px 160px;
      background-image: url('/truck-9.webp');
      margin-bottom: 0;
    }

    &__container {
      padding: 0;
    }

    &__title {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 64px;
        margin-bottom: 24px;
      }

      p {
        font-size: 24px;
        max-width: 500px;
      }
    }

    &__body {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    &__map {
      width: 662px !important;
      height: 404px !important;
    }

    &__rating {
      width: 58%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__form {
      width: 37%;

      form {
        width: 100% !important;
      }
    }
  }
}

#tooltip-map-2 {
  background-color: var(--color-white);
  border: 1px solid #024e90;
  border-radius: 10px 30px 30px 30px;
  padding: 5px 10px;
  position: fixed;
  z-index: 100;
  opacity: 0;
}
