@import '../globals/vars';

.steps {
  &__wrapper {
    padding: 64px 24px 32px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;

    h2 {
      color: var(--color-black);
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-gray);
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .icon {
      height: 81px;
      width: 81px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f4f5f8;
      border-radius: 22px;
      margin-bottom: 24px;
    }

    h4 {
      color: var(--color-black);
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-gray);
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

@media screen and (min-width: $desktop-min-offset) {
  .steps {
    &__wrapper {
      padding: 70px 160px 30px;
    }

    &__title {
      margin-bottom: 48px;

      h2 {
        font-size: 48px;
        margin-bottom: 16px;
      }

      p {
        font-size: 24px;
        max-width: 510px;
      }
    }

    &__cards {
      flex-direction: row;
    }

    &__card {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 45px;
      }
    }
  }
}
