@import 'vars';

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited,
a:active {
  color: inherit;
}

*:focus {
  outline: none;
}

.no-pointer {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.overflow-hidden {
  overflow: hidden;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.transition {
  transition: all 0.2s;
}

.rotate {
  transform: rotate(-180deg);
}

@each $name, $weight in $font-weights {
  .font-weight-#{$name} {
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
  }
}

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }
}

@each $name, $color in $colors {
  .theme-#{$name} {
    background-color: $color;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
