$font-weights: (
  ('extra-bold', 800),
  ('bold', 700),
  ('semi-bold', 600),
  ('medium', 500),
  ('regular', 400)
);

$colors: (
  'white': #ffffff,
  'white-light': #fcfcfd,
  'black': #23262f,
  'black-dark': #081420,
  'blue': #3b71fe,
  'blue-dark': #0d152e,
  'gray': #777e90,
  'gray-dark': #81838c,
  'gray-light': #e6e8ec,
  'gray-cloud': #f4f5f8,
);

$grid-widths: (320px, 768px, 1000px, 1440px);
$desktop-min-offset: 769px;

:root {
  @each $name, $color in $colors {
    --#{'color-' + $name}: #{$color};
  }
}
